<html>
<head> </head>
<body>
    <div id="app">
        <label for="hourly"> Enter Hourly Rate</label>
        <input type="text" id="hourly"  v-model="hourlyRate" v-on:change="getYearlySalaryForHourlyRate"  />
        <input type="text" id="weeklyHours"  v-model="weeklyHours" v-on:change="getYearlySalaryForHourlyRate"  />
        
        <p> Total Yearly Rate: {{formattedTotal}}</p>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>      
    <script>    
        var app = new Vue({
            el: '#app',
            data: {
                hourlyRate: '',
                weeklyHours: 40,
                total: '',
                formattedTotal: ''    
            },
            methods: {
                getYearlySalaryForHourlyRate: function(){
                    this.total = (this.hourlyRate * this.weeklyHours) * 52;
                    
                    this.formattedTotal = '$' + this.numberWithCommas(this.total.toFixed(2));
                }, 
                numberWithCommas: function(x) {
                    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            }

        })    
    </script> 
</body>

</html>