body {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    /*background: #f06d06;*/
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    display: flex;
    flex-direction: column;
}

header,footer {
    background: #778899;
    color:white;
    text-align:center;
}

.wrapper{
    flex: 1 0 auto;
}

.content{
    margin: 0 auto;
    background:#d9f7f7;
    width: 70%;
    padding: 20px;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D3D3D3;
    border-radius: 25px;
    
}

#app{
    height:200px;
}

footer{
    flex-shrink: 0;
    padding:10px;
}